<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NEXT Website</title>
        <link rel="stylesheet" href="css/styles_doctor.css">
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/
            releases/v5.14.0/css/all.css"
            integrity="sha384-HzLeBhoNPvSl5KYnjx0BT+WB0QEEqLprO
            +NBkkk5gbcc67FTaL7XIGa2w1L0Xbgc"
            crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
        <!-- airbnb section -->
        <link rel="stylesheet" type="text/css" href="/styles/4-common.css">
        <link rel="stylesheet" type="/styles/3-header.css">
        <link rel="stylesheet" type="/styles/3-footer.css">
        <link rel="stylesheet" type="text/css" href="/styles/6-filters.css">
        <link type="text/css" rel="stylesheet" href="/styles/100-places.css">
        <link rel="icon" href="../static/images/icon.png?cache_id={{ cache_id }}" />
    </head>
    <body>
        <!-- Navbar Section -->
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/" id="navbar__logo"> NEXT</a>

                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/" class="navbar__links">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/tech.html" class="navbar__links">Tech</a>
                    </li>

                    <li class="navbar__item">
                        <a href="/"class="navbar__links">Products</a>
                    </li>
                    
                    <li class="btn">
                        <a href="/"class="button"> Sign Up </a></li>
                </ul>
            </div>
        </nav> 

        <!-- Hero Section -->
         <div class="main">
            <div class="main__container">
                <div class="main__content">
                <h1>Doctors</h1>
                <h2>All Specializations</h2>
                <P>See what makes us diffrent</P>
                <!-- OLD BUTTON -->
                <!-- <button class="main__btn"><a href="/book_appointment.html">Book an Appointment</
                a></button> -->
                <SECTION class="filters">
                    <!-- **********************
	                   AMENITIES
	                ********************** -->
                    <DIV class="amenities">
                        <H3>Speciality</H3>
                        <H4>&nbsp;</H4>
                        <UL class="popover">
                        {% for specialization in specializations|sort(attribute='name') %}
                          <LI>
                          <INPUT type="checkbox" data-id="{{ specialization.id }}" data-name="{{ specialization.name }}">
                            {{ specialization.name }}
                          </INPUT>
                        </LI>
                        {% endfor %}
                        </UL>
                      </DIV>

                      <BUTTON>Search</BUTTON>
                </SECTION>


                </div>
                <div class="main__img--container">
                    <img src="images/doctors.jpg" alt="pic" id="main__img" />
                </div>
            </div>
         </div>

        <!-- Airbnb section -->
        <!-- <div class="container">
            <section class="filters">
          <div class="locations">
            <h3>States</h3>
            <h4>&nbsp;</h4>
            <div class="popover">
              <ul>
                {% for state in states %}
                <li>
                  <input type="checkbox" data-id="{{ state[0].id }}" data-name="{{ state[0].name }}" style="margin-right: 10px;">
                  <h2>{{ state[0].name }}:</h2>
              <ul>
                {% for city in state[1] %}
                <li>
                  <input type="checkbox" data-id="{{ city.id }}" data-name="{{ city.name }}" style="margin-right: 10px;">
                  {{ city.name }}
              </li>
                {% endfor %}
              </ul>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="amenities">
            <h3>Amenities</h3>
            <h4>&nbsp;</h4>
            <div class="popover">
              <ul>
                {% for amenity in amenities %}
                <li><input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}" style="margin-right: 10px;">{{ amenity.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <button type="button">Search</button>
            </section>
            <div class="placesh1"><h1>Places</h1></div>
            <section class="places">
              {% for place in places %}
              {% endfor %}
            </section>
          </div> -->


        <!-- Services Section
        <div class="services">
            <h1>See what the hype is about</h1>
            <div class="services__container">
                <div class="services__card">
                    <h2>Cardiologist</h2>
                    <p></p>
                    <button>Reserve Now</button>
                </div>
                <div class="services__card">
                    <h2>Ophthalmologists</h2>
                    <p></p>
                    <button>Reserve Now</button>
                </div>
                <div class="services__card">
                    <h2>Orthopedic</h2>
                    <p></p>
                    <button>Reserve Now</button>
                </div>
                <div class="services__card">
                    <h2>pediatrician</h2>
                    <p></p>
                    <button>Reserve Now</button>
                </div>
            </div>
        </div> -->

        <!-- Footer Section -->
         <div class="footer__container">
            <div class="footer__links">
                <div class="footer__link--wrapper">
                    <div class="footer__link--items">
                        <h2>About Us</h2>
                        <a href="/">How it works</a>
                        <a href="/">Tesimonials</a>
                        <a href="/">Board Members</a>
                        <a href="/">Terms of Service</a>
                    </div>
                    <div class="footer__link--items">
                        <h2>Contact Us</h2>
                        <a href="/">Customer Service</a>
                        <a href="/">Careers</a>
                        <a href="/">Investments</a>
                    </div>
                </div>
                
                <div class="footer__link--wrapper">
                    <div class="footer__link--items">
                        <h2>Social Media</h2>
                        <a href="/">Instgram</a>
                        <a href="/">Facebook</a>
                        <a href="/">Youtube</a>
                        <a href="/">Twitter</a>
                    </div>
                </div>
            </div>
        
            <div class="social___media">
                <div class="social__media--wrap">
                    <div class="footer__logo">
                        <a href="/" id="footer__logo"><i class="fas
                         faa-gem"></i>Next</a>
                    </div>
                    <P class="website__right">® Next 2024. All rights reserved</P>
                    <div class="social__icons">
                        <a href="/" class="social__icon--link"
                        target="_blank">
                            <i class="fab fa-Facebook"></i>
                        </a>
                        <a href="/" class="social__icon--link"
                        target="_blank">
                            <i class="fab fa-Instgram"></i>
                        </a>
                        <a href="/" class="social__icon--link"
                        target="_blank">
                            <i class="fab fa-Twitter"></i>
                        </a>
                        <a href="/" class="social__icon--link"
                        target="_blank">
                            <i class="fab fa-Linkedin"></i>
                        </a>
                        </a>
                        <a href="/" class="social__icon--link"
                        target="_blank">
                            <i class="fab fa-Youtube"></i>
                        </a>
                    </div>

                </div>
            </div>

         </div>
        <script src="js/doctor.js"></script>       
    </body>
</html>